* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(100, 92, 158);
}

header {
    background-color: #FFD900;
    padding: 1.5em;
    align-items: left;
}

.main-content {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 1em;
}

#intro {
    text-align: center;
}

#intro h1 {
    text-transform: uppercase;
    color: rgba(243, 198, 31, 1);
    font-weight: 700;
    font-size: 55px;
    margin: 0.5em 0 0.5em 0;
}


#intro h3 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 3em;
}

#intro p {
    font-size: 25px;
    color: #FFFFFF;
    padding: 1rem 5rem;
    text-indent: 2rem;

}

#content {
    text-align: center;
}

.timer {
    display: flex;
    justify-content: space-around;
    margin: 0.5em 0 0.5em 0;
    font-weight: 600;
    font-size: 40px;
    color: rgba(243, 198, 31, 1);
}

#vid {
    width: 85%;
    border: 1px solid whitesmoke;
    margin: 1.5em;
}

#content h3 {
    color: rgba(227, 56, 129, 1);
    font-size: 25px;
    text-transform: uppercase;
}



#container h3 {
    color: rgba(227, 56, 129, 1);
    font-size: 25px;
    margin-bottom: 1em;

    text-align: center;
}

.imgs {
    text-align: center;
}

#sessao2 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 5em;
}

#container {
    width: 85%;
}



#purch-button {
    border-radius: 20px;
    background-color: rgba(243, 198, 31, 1);
    color: #000000;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    padding: 40px 80px 40px 80px;
}

#purch-button:hover {
    color: rgb(100, 92, 158);
    cursor: pointer;
}

.forms{
    text-align: center;
}

input{
    background: rgb(100, 92, 158);
    border-radius: 10px;
    color: #FFFFFF;
    border: 2px solid white;
    margin: 30px;
    width: 300px;
    height: 70px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

input:hover {
    color:rgba(243, 198, 31, 1);
    cursor: pointer;
}

::placeholder{
    text-indent: 0.5em;
}

footer {
    background-color: #FFD900;
    align-items: left;
    height: 100%;
}


/*Classe criada para exibir sombra nos cards*/
.card-highlight {
    box-shadow: 5px 20px 18px black;
}

/*Classe criada para exibir borda nos cards selecionados*/
.card-selected {
    /*border: 5px solid green;*/
    --border-size: 5px;
    --border-angle: 0turn;
    background-image: conic-gradient(from var(--border-angle),
            rgb(100, 92, 158),
            rgb(100, 92, 158),
            rgb(100, 92, 158)),
        conic-gradient(from var(--border-angle), transparent 80%, rgba(243, 198, 31, 1));
    background-size: calc(90% - (var(--border-size) * 2)) calc(90% - (var(--border-size) * 2)),
        cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 3s linear infinite;
   
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}


/*Classe criada para exibir sombra no botão*/
.button-highlight {
    box-shadow: 10px 10px 10px 10px grey;
}

@media only screen and (max-width: 900px) {


    .main-content {
        display: flex;
        flex-direction: column;
    }

    #intro p {
        font-size: 18px;
    }

    #dias,
    #horas,
    #minutos,
    #segundos {
        font-size: 50px;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #sessao2 {
        display: flex;
        flex-direction: column;
    }

    .imgs img {
        margin-top: 20px;
    }

    .imgs {
        display: grid;
        grid-template-columns: auto auto;
    }

    button {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}


@media only screen and (max-width: 1400px) {


    .main-content {
        display: flex;
        flex-direction: column;
    }

    #intro p {
        font-size: 18px;
    }

    #dias,
    #horas,
    #minutos,
    #segundos {
        font-size: 45px;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #vid {
        width: 70%;
    }

    #sessao2 {
        display: flex;
        flex-direction: column;
    }

    .imgs img {
        margin-top: 20px;
        margin-right: 30px;
    }

    .imgs {
        display: grid;
        grid-template-columns: auto auto;
    }

    button {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
